/* ---------- google font ROBOTO ---------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --green : #7BFF98;
    --red : #FF837B;
    --yellow : #FFF27B;
    --purple : #AD7BFF;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* ---------- start header ---------- */
.head{
    margin: 10px 25px 10px 25px;
}
.head,.head .title{
    display: flex;
    justify-content: space-between;
    place-items: center;
}
.head .title{
    gap: 15px;
}
.head .title h1{
    font-weight: 300;
    font-size: 20px;
}
.head img{
    width: 40px;
}
.GitHub{
    cursor: pointer;
}
/* ---------- end of header ---------- */

/* ---------- start left section ---------- */
.container{
    display: flex;
    justify-content:space-between;
    place-items: center;
    margin-inline: 100px;
    margin-top: 100px;
}
.information{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 40px;
}
.box{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    place-items:center ;
    width: 300px;
    height: 100px;
    box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.137);
    border-radius: 8px;
    transition: all 400ms ease-out;
}
.box:hover{
    transform: scale(1.1);
}
.box h6{
    position: absolute;
    top: 10px;
    left: 20px;
    font-weight: 100;
    font-size: 12px;
}
 .box h4{
    margin-top: 5px;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 25px;
}
.box .line{
    position: absolute;
    width: 5px;
    height:70px;
    left: 7px;
    border-radius: 50px;
}
.box .green{
    background-color: var(--green);
}
.box .red{
    background-color: var(--red);
}
.box .yellow{
    background-color: var(--yellow);
}
.box .purple{
    background-color: var(--purple);
}
/* ---------- end of left section ---------- */

/* ---------- start right section ---------- */
.keybourd{
    width: 100%;
    height: 100%;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.keybourd h2{
    font-size: 250px;
    font-weight: 400;   
}
.keybourd p{
    font-weight: 100;
    font-size: 20px;
}
.keybourd button{
    all: unset  ;
    margin-top: 20px;
    width: 200px;
    padding: 10px;
    background-color: var(--red);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 100;
}
/* ---------- end of right section ---------- */

/* ---------- media qury---------- */
@media only screen and (max-width: 980px){
    .container{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .keybourd{
        margin-top: -70px;
        width: 100%;
    }
    .information{
        margin-top: 40px;
        margin-bottom: 25px;
        place-items: center;
        width: 100%;
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width: 850px){
    .container{
        margin-inline: 25px;
    }
}
@media only screen and (max-width: 700px){
    .information{
        grid-template-columns: repeat(1,1fr);
    }
}